body{
    font-family: arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #3a2a1f;
}

.hero {
    height: 400px;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero h1 {
    font-family: 'Cinzel', serif;    
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 3px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #333333;
}

.dashboard-card {
    border: none;
    border-radius: 20px;
    padding: 25px 10px;
    background: linear-gradient(145deg, #ffffff, #f1f1f1);
    box-shadow: 0 15px 35px rgba(58, 42, 31, 0.15);
    transition: all 0.3s ease;
}

.dashboard-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 25px 50px rgba(58, 42, 31, 0.25);
}

.dashboard-card h2 {
    font-weight: bold;
    margin: 0;
    color: #3a2a1f;
}

.image-hover {
    position: relative;
    overflow: hidden;    
}

.image-hover img {
    transition: 0.3s ease-in-out;
    display: block;
}

.img-second {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    object-fit: cover;
}

.image-hover:hover .img-second {
    opacity: 1;
}

.image-hover:hover img:first{
    opacity: 0;
}

.card-title {
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #3a2a1f;
}

.card-text {
    margin-bottom: 4px;   
    font-size: 0.95rem;   
}

.btn-detail {
    background: transparent;
    border: 1.5px solid #3a2a1f;
    color: #3a2a1f;
    border-radius: 30px;
    padding: 6px 18px;
    transition: all 0.3s ease;
}

.btn-detail:hover {
    background: #3a2a1f;
    color: white;
    transform: translateY(-3px);
}

.footer-section {
    background: linear-gradient(135deg, #1f1f1f, #3a2a1f);
    color: #ffffff;
    padding: 30px 0;
    line-height: 1;
}

.footer-section h5,
.footer-section h6 {
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 8px;
    font-family: poppins, sans-serif;
}

.footer-section p {
    color: #cccccc;
    margin-bottom: 3px;
}

.footer-section hr {
    opacity: 0.2;
    border-color: rgba(255,255,255,0.2);
}

.footer-section p:hover {
    color: #ffffff;
    transition: 0.3s ease;
}
